extends ../layouts/main-layout

block style
    link(rel='stylesheet' href='/css/cart.css')

block content
    if products.length > 0
        ul.cart__item-list
            each p in products
                li.cart__item
                    h1 #{p.productId.title}
                    h2 Quantity:#{p.quantity}
                    form(action='/cart-delete-item', method='POST')
                        input(type='hidden', name='productId', value=p.productId._id)
                        input(type='hidden', name='_csrf', value=_csrf)
                        button.btn.danger(type='submit') Delete
        hr
        div.centered
            form(action="/create-order" method="POST")
                button.btn(type="submit") Order Now
                input(type='hidden', name='_csrf', value=_csrf)
    else
        h2 No items in cart
