extends ../layouts/main-layout

block style
    link(rel="stylesheet", href="/css/product.css")

block content
    main
        if prods.length > 0
            .grid
                each product in prods
                    article.card.product-item
                        header.card__header
                            h1.product__title #{product.title}
                        div.card__image
                            img(src=product.imageUrl, title="A Book")
                        div.card__content
                            h2.product__price $#{product.price}
                            p.product__description #{product.description}
                        .card__actions
                            if logIn
                                form(action='/cart', method='POST')
                                    button.btn(type='submit') Add To Cart
                                    input(type='hidden', name='productId', value=product._id)
                                    input(type='hidden', name='_csrf', value=_csrf)
                                a.btn(href=`/products/${product._id}`) Details
                            else
                                a.btn(href=`/products/${product._id}`) Details
            section.pagination
                a(href='/?page=1') 1
                if prevPage !== 1 && hasPrevPage
                    a(href=`/?page=${prevPage}`) #{prevPage}
                if currentPage !== 1
                    a.active(href=`/?page=${currentPage}`) #{currentPage}
                if hasNextPage && nextPage !== lastPage
                    a(href=`/?page=${nextPage}`) #{nextPage}
                if lastPage !== currentPage
                    a(href=`/?page=${lastPage}`) #{lastPage}
        else
            h1 No Products